<app-sidebar></app-sidebar>
<div class="container-outlet">
    <div class="container-table">
        <div class="contenue">
            <h1>Deatil Tuteur</h1>
            <div>
                <mat-card>
                    <mat-card-header style="background-color: #263238; color: white; margin-bottom: 10px;">
                        <h2><strong>{{infoTuteur?.completName}}</strong></h2>
                    </mat-card-header>
                    <mat-card-content>
                      <div class="container">
                        <div class="row">
                            <div class="col-8">
                                <span><i>Date de naissance : </i> {{infoTuteur?.birthday | date: 'dd/MM/YYYY'}} </span><br>
                                <span><i>Phone : </i> {{infoTuteur?.telephoneParent}} </span><br>
                                <span><i>Email : </i><a href="www.gmail.com">{{infoTuteur?.emailParent}}</a></span><br><br>
                                <p><strong>Adresse</strong></p>
                                <span> {{infoTuteur?.numeroRue}} Rue {{infoTuteur?.rueName}} </span><br>
                                <span><i>Quartier : </i> {{infoTuteur?.quartier}} </span><br>
                                <span><i>Ville : </i> {{infoTuteur?.ville}} </span><br>
                                <span><i><strong>Pays : </strong></i> {{infoTuteur?.pays}} </span>
                            </div>
                            <div class="col-4" style="text-align: right;">
                                <div style="width: 200px; height: 200px;">
                                    <img src="../../../../../assets/images/fond/profilBenade.jpg" width="200" style="border-radius: 15px;" alt="">
                                </div>
                            </div>
                        </div>
                      </div>
                      <div style="background-color: #263238; color: white; margin-bottom: 10px; height: 50px; padding: 10px; margin-top: 20px;">
                        <h2>Liste des élèves de Mr/Mlle {{infoTuteur?.completName}} </h2>
                      </div>
                      <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matSort class="advance-table">
                            <ng-container matColumnDef="nom&Prenom">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom & Prénom</th>
                                <td mat-cell *matCellDef="let row"> {{row.completName}} </td>
                            </ng-container>
                            <ng-container matColumnDef="telephone">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Téléphone</th>
                                <td mat-cell *matCellDef="let row"> {{row.telephoneParent}} </td>
                            </ng-container>
                            <ng-container matColumnDef="email">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                                <td mat-cell *matCellDef="let row"> {{row.emailParent}} </td>
                            </ng-container>
                            <ng-container matColumnDef="quartier">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Quartier</th>
                                <td mat-cell *matCellDef="let row"> {{row.quartier}} </td>
                            </ng-container>
                            <ng-container matColumnDef="ville">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Ville</th>
                                <td mat-cell *matCellDef="let row"> {{row.ville}} </td>
                            </ng-container>
                            <ng-container matColumnDef="pays">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Pays</th>
                                <td mat-cell *matCellDef="let row"> {{row.pays}} </td>
                            </ng-container>
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                                <td mat-cell *matCellDef="let row">
                                    <button mat-icon-button class="tbl-action-btn" color="accent"
                                    >
                                    <mat-icon>
                                      <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" style="color: rgb(43, 136, 3);"
                                      fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                      <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                                      <path
                                        d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" />
                                    </svg>
                                    </mat-icon>
                                  </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                        </table>
                    </div>
                      
                    </mat-card-content>
                    <br>
                    <mat-card-footer>
                        
                    </mat-card-footer>
                </mat-card>
            </div>
        </div>
    </div>
</div>
