<app-header></app-header>
<div class="container-fluid head-card">

</div>
<div class="bond">
    <p>Choisissez votre modèle de site, Websco Innovations™ se charge de toute la partie technique (mise en ligne,
        hébergement, sauvegardes, maintenance, mises à jour ...)</p>
</div>
<div class="container-fluid content-card">
    <div class="container" style="margin-bottom: 20px;">
        <div class="row">
            <div class="col colone-image">
                <img class="image-col" src="../../../assets/images/fond/ecranpc.avif" alt="">
            </div>
            <div class="col colone">
                <h1 class="titre">VOTRE SITE WEB 2.0</h1>
                <p>Compatible smartphone et tablette.</p>
                <div class="trait">
                    <div style="width: 80px; height: 7px; background-color: #263238;"></div>
                </div>
                <div style="padding: 20px;">
                    <p>Nos designs personnalisables sont conçus pour offrir à vos visiteurs un accès simple et intuitif
                        à l'information, vous garantissant les bénéfices d'une communication professionnelle haut de
                        gamme.</p>
                </div>
                <div style="padding: 20px;">
                    <p>Par ailleurs Websco Innovations™ développe régulièrement de nouveaux modèles, vous offrant
                        l'assurance de toujours bénéficier d'un site web dans l'air du temps.</p>
                </div>
                <div>
                    <button class="button-online">Découvrir</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin-bottom: 40px;">
    <div class="titre-2">
        <h1>DÉCOUVREZ VOTRE NOUVEAU SITE</h1>
        <p>Faîtes votre choix parmi nos modèles personnalisables.</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card-chiffre">
                    <div class="chiffre">
                        <h3>1.</h3>
                    </div>
                    <div class="texte">
                        <h3>CHOIX DU MODÈLE.</h3>
                        <p>Vous pouvez consulter nos sites de démonstration en cliquant 
                            sur le nom de chaque modèle.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card-chiffre">
                    <div class="chiffre">
                        <h3>2.</h3>
                    </div>
                    <div class="texte">
                        <h3>PERSONNALISATION..</h3>
                        <p>Se fera en collaboration directe avec nos graphistes, 
                            sur la base de vos souhaits, remarques et suggestions.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card-chiffre">
                    <div class="chiffre">
                        <h3>3.</h3>
                    </div>
                    <div class="texte">
                        <h3>AJOUT DE CONTENUS..</h3>
                        <p>Créez et modifiez directement l'ensemble des contenus de votre site,
                             grâce à votre interface de gestion en ligne.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid card-contact">
    <div>
        <h3>Contactez-nous au 09.72.54.77.39 ou par Mail à contact&#64;websco.fr</h3>
        <p>Notre équipe réactive se tient à votre entière disposition pour toute information complémentaire.</p>
    </div>
    <div>
        <button class="button-online">Découvrir</button>
    </div>

</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col ">
                <div class="col-pass">
                    <div>
                        <h4>UNE SOLUTION CLÉ EN MAIN</h4>
                        <p>Des sites conçus pour vos besoins en communication. 
                            Choisissez votre modèle, Websco se charge du reste</p>
                    </div>
                    <div>
                        <div class="cercle">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                              </svg>
                        </div>
                    </div>
                </div>
                <div class="col-pass">
                    <div>
                        <h4>DES TARIFS ADAPTÉS</h4>
                        <p>Quatre formules exclusives, "tout compris", entre 149,90€ et
                             289,90€ HT par an, pour valoriser votre communication.</p>
                    </div>
                    <div>
                        <div class="cercle">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                              </svg>
                        </div>
                    </div>
                </div>
                <div class="col-pass">
                    <div>
                        <h4>VOTRE SITE WEB 2.0</h4>
                        <p>Compatibilité smartphone et tablette, ergonomie,
                             fonctionnalités multiples, et une touche de créativité.</p>
                    </div>
                    <div>
                        <div class="cercle">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                              </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col" style="text-align: center;">
                <img src="../../../assets/images/fond/phone.jpg" width="250px" alt="">
            </div>
            <div class="col ">
                <div class="col-pass-2">
                    <div>
                        <div class="cercle">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                              </svg>
                        </div>
                    </div>
                    <div>
                        <h4>SIMPLICITÉ D'UTILISATION</h4>
                        <p>Une gestion en ligne de vos contenus, claire, 
                            légère, intuitive et adaptée, à la portée de tous.</p>
                    </div>
                </div>
                <div class="col-pass-2">
                    <div>
                        <div class="cercle">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                              </svg>
                        </div>
                    </div>
                    <div>
                        <h4>ENVIRONNEMENT FORT</h4>
                        <p>Serveurs haute disponibilité sécurisés, sauvegardes automatiques 
                            de vos données, maintenance technique et mises à jour.</p>
                    </div>
                </div>
                <div class="col-pass-2">
                    <div>
                        <div class="cercle">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                              </svg>
                        </div>
                    </div>
                    <div>
                        <h4>PROXIMITÉ DES ÉQUIPES</h4>
                        <p>Assistance utilisateur gratuite, un interlocuteur 
                            unique à votre service, directement par téléphone et par mail.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-lg" style="margin-top: 50px;">
    <div class="card-decouvrir">
        <div class="card-decouvrir-content">
            <div>
                <h4>Besoin d'un modèle de site "sur-mesure" pour votre établissement ?</h4>
                <p>Websco vous propose le développement d'un site personnalisé, pour un tarif forfaitaire surprenant</p>
            </div>
            <div>
                <button class="button-offline">DECOUVRIR NOS OFFRES</button>
            </div>
        </div>
    </div>
</div>



<app-footer></app-footer>