<div class="container-fluid footer-fond">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="container-text">
                    <div class="text">
                        <h2>LONGOKA</h2>
                    </div>
                    <div class="content-text">
                        <p>Websco innovations™ vous offre les bénéfices d'une 
                            solution web dédiée de dernière génération. Faîtes 
                            confiance au leader
                             de la création web pour établissements scolaires.</p>
                    </div>
                </div>
                <hr>
            </div>
            <div class="col-4">
                <h3>Exigez une solution fiable, réactive, innovante</h3>
                <p>Libre à vous de profiter dès aujourd'hui d'un panel 
                    de services et de sites internet professionnels, conçus et développés avec 
                    toute notre expertise spécifiquement pour votre établissement scolaire.</p>
                    <p>Votre site opérationnel sous 48heures, charte graphique 
                        personnalisée, hébergement professionnel,
                         assistance technique gratuite ...</p>
                         <p>Websco innovations™ vous offre les bénéfices 
                            d'une solution web dédiée, dans le respect 
                            étudié de vos besoins et des attentes de 
                            vos visiteurs</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid footer-fond-contact">
    <div class="footer-contact">
        <div>
            <span>Homme /</span>
            <span>About us /</span>
            <span>Actualités /</span>
            <span>Contact</span>
        </div>
        <div>
            <span>benademabondzo&#64;longoka.com / </span>
            <span>+242067871743 /</span>
            <span>+242053519080 </span>
        </div>

    </div>
  

</div>